<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{% if page.title %} {{ page.title }} {% else %} {{ site.name }} {% endif %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

<!-- Bootstrap core CSS -->
<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

</head>
<body>
<div class="text-center">
  <a href="{{ site.baseurl }}/index.html">
    <img id="about" src="{{ site.baseurl }}/img/logo.png" height="128px" width="" />
  </a>
</div>

<div class="">
  {% for i in site.urls %}
  <a class="about" href="{{ i.url }}">
    {{ i.text }}
  </a>
  {% endfor %}
</div>


<div class="container-fluid text-center">
  {{ content }}
</div>

<div class="text-center">
  <footer>
    &copy; {{ site.title }}
    {% if site.github %}
    - <a href="http://www.github.com/{{ site.github }}">{{ site.github }}</a>
    {% endif %}
    {% if site.twitter %}
    - <a href="http://www.twitter.com/{{ site.twitter }}">{{ site.twitter }}</a>
    {% endif %}
  </footer>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}js/bootstrap.min.js"></script>
</body>
</html>
